{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/staff_home.css' %}">

<div class="container">
    <div class="assign-routine">
        <h1>Assign Routine to {{ client.username }}</h1>
        
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_name">Routine Name</label>
                {{ form.name }}
            </div>
            
            <div class="form-group">
                <label for="id_routine_type">Routine Type</label>
                {{ form.routine_type }}
            </div>
            
            <div class="button-group">
                <button type="submit" class="btn">Assign Routine</button>
                <a href="{% url 'client_details' client.id %}" class="btn cancel">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %} 