{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>GymApp</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <nav>
        <div class="logo">GymSync
            <a href="{% url 'about_us' %}">About Us</a>
        </div>
        <div class="nav-links">
            {% if user.is_authenticated %}
                <a href="{% url 'client_home' %}">Home</a>
                <form action="{% url 'signout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="nav-btn">Sign Out</button>
                </form>
            {% else %}
                <a href="{% url 'signin' %}">Log In</a>
                <a href="{% url 'signup' %}">Sign Up</a>
            {% endif %}
        </div>
    </nav>
    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
