{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/client_home.css' %}" />
<div class="container">
    <div class="main-content">
        <h2>My Routines</h2>

        <a href="{% url 'add_routine' %}" class="btn" id="add-routine-btn">Add New Routine</a>
        <section id="routine-list">
            {% for routine in routines %}
            <article class="routine-card">
                <h3>{{ routine.name }}</h3>
                <p>Created on: <strong>{{ routine.date_created|date:"F d, Y" }}</strong></p>
                <ul>
                    <li></li>
                    <li></li>
                </ul>
                <a href="{% url 'routine_detail' routine.id %}" class="view-routine">View Routine</a>
            </article>
            {% empty %}
            <p class="text-center">No routines yet. Create your first routine!</p>
            {% endfor %}
        </section>
    </div>
</div>
{% endblock %}