<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="t_admin_home.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- Header Section -->
    <header>
      <nav>
        <div class="logo">GymSync</div>
        <div class="nav-links">
          <a href="#">Dashboard</a>
          <a href="#">Users</a>
          <a href="#">Routines</a>
          <a href="#">About Us</a>
          <a href="#">Log Out</a>
        </div>
      </nav>

      <!--Main Section of page-->
      <main>
        <section class="login-container">
          <h2>Login</h2>
          <form action="#" method="POST"></form>
        </section>
      </main>
    </header>
  </body>
</html>
