<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="t_admin_home.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- Header Section -->
    <header>
      <nav>
        <div class="logo">GymSync</div>
        <div class="nav-links">
          <a href="#">Dashboard</a>
          <a href="#">Users</a>
          <a href="#">Routines</a>
          <a href="#">About Us</a>
          <a href="#">Log Out</a>
        </div>
      </nav>
    </header>
    <!--Main Section of page-->
    <main>
      <section class="login-container">
        <h2>Login</h2>

        <!-- Login Form -->
        <section class="form-container">
          <form action="#" method="POST">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              name="username"
              placeholder="Enter your username"
              required
            />

            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Enter your password"
              required
            />

            <div class="button-container">
              <button type="submit">Log In</button>
            </div>

            <div class="password-link">
              <a href="#">Forgot Password?</a>
            </div>

            <div class="signup-link">
              <p>Don't have an account? <a href="#">Create one.</a></p>
            </div>
          </form>
        </section>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
