<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Routines - GymSync</title>
    <link rel="stylesheet" href="create_ruitine.css" />
  </head>
  <body>
    <header>
      <div class="container header-content">
        <div class="logo">GymSync</div>
        <nav>
          <ul>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Users</a></li>
            <li><a href="#">Routines</a></li>
            <li><a href="#">About Us</a></li>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>
