<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Routines</title>
    <link rel="stylesheet" href="t.my_ruitines.css" />
  </head>
  <body>
    <header>
      <div class="container header-content">
        <div class="logo">GymSync</div>
        <nav>
          <ul>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Users</a></li>
            <li><a href="#">Routines</a></li>
            <li><a href="#">About Us</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section class="container routines">
        <div class="main-content">
          <h2>My Routines</h2>

          <!-- this button adds a routine -->
          <button class="btn" id="add-routine-btn">Add New Routine</button>
          <button class="btn cancel" id="sign-out-btn">Sign Out</button>

          <section id="routine-list">
            <article class="routine-card">
              <h3>Chest Routine</h3>
              <p>Created on: <strong>April 1, 2025</strong></p>
              <ul>
                <li>Chest Press - 50x500</li>
                <li>Incline Bench Press - 20x300</li>
                <li>Chest Fly - 100x120</li>
              </ul>
              <button class="view-routine">View Routine</button>
            </article>
          </section>
        </div>
      </section>
    </main>
    <footer>
      <div class="container">
        <p>GymSync</p>
      </div>
    </footer>
  </body>
</html>
